ex-commands/ex10/tempSensorFlow.json
[{"id":"5ffb150e.f1aeac","type":"watson-text-to-speech","z":"d7c1e496.010418","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaV2Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"","payload-response":false,"service-endpoint":"","x":620,"y":360,"wires":[["55f6e580.a5cecc"]]},{"id":"400125d8.5873a4","type":"ibmiot in","z":"d7c1e496.010418","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":340,"wires":[["d6fa94d1.bef058"]]},{"id":"d6fa94d1.bef058","type":"rbe","z":"d7c1e496.010418","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":250,"y":340,"wires":[["32f4c654.f6eaea"]]},{"id":"32f4c654.f6eaea","type":"function","z":"d7c1e496.010418","name":"","func":"var temp = msg.payload.d.temp;\nvar maxThreshold = 30;\nif ( temp > maxThreshold){\n\tmsg.payload =\"There is a volcano. We know your location now and the help is on its way\";\n}\nelse {\n    msg.payload = \"you are ok\";\n}\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":340,"wires":[["35afa86c.0db64","5ffb150e.f1aeac"]]},{"id":"35afa86c.0db64","type":"debug","z":"d7c1e496.010418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":320,"wires":[]},{"id":"55f6e580.a5cecc","type":"play audio","z":"d7c1e496.010418","name":"","voice":"","x":830,"y":360,"wires":[]}]
